{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="main-content">
    <div class="main-biography">
        <h2>Bienvenidos a Deep Weeb</h2>
        <br>
        <p>¡Hola! Soy Santiago, el creador y fundador de Deep Weeb. Me complace darte la bienvenida a este espacio donde compartimos informacion importante, exploramos nuevas ideas y nos sumergimos en un mundo de la programacion.</p>
        <br>
        <p>Desde que era joven, siempre he sentido una pasión innata por ilustrar y desarrollar mis ideas. Esta pasión me llevó a crear Deep Weeb con el objetivo de proporcionar un lugar donde los entusiastas como tú puedan encontrar contenido inspirador, educativo y entretenido sobre tecnologia.</p>
        <br>
        <p>En Deep Weeb, nos esforzamos por ofrecer una experiencia enriquecedora para nuestros visitantes. Ya sea que estés buscando consejos prácticos, historias inspiradoras o simplemente un lugar para conectarte con otros apasionados por el aprendizaje didactico, aquí encontrarás todo eso y más.</p>
        <br>
        <p>Explora nuestras secciones, sumérgete en nuestros artículos y únete a nuestra comunidad. Estoy emocionado de compartir este viaje contigo y espero que encuentres en Deep Weep un lugar donde puedas aprender, crecer y disfrutar de todo lo relacionado con el mundo de la programacion.</p>
        <br>
        <p>¡Gracias por visitarnos y espero verte pronto por aquí!</p>
        <br>
        <hr class="interactive-bar">
        <h1 class="highlight-title">@frescomedellin</h1>
        <iframe src="//lightwidget.com/widgets/13620763fe9f5e8692555a9df8035f90.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        <hr class="interactive-bar">
        <h1 class="highlight-title">@santiagoperez_b</h1>
        <iframe src="//lightwidget.com/widgets/2759e06f751f5b78b0e21e4a508aa0de.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        <hr class="interactive-bar">       
    </div>
</div>
{% endblock %}
